/* body{
  margin: 0;
  min-height: 100vh;
  width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template: 
  "header header header" 150px
  "left   center right"  1fr
  "footer footer footer" 200px
  /150px 1fr 200px ;
} */

body{
  margin: 0;
  min-height: 100vh;
  width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template: 
  "... ...... ...... ...... ...... ...... ..." 
  "... header header header header header ..." 150px
  "... ...... ...... ...... ...... ...... ..." 
  "... left   ...... center ...... right ... "  1fr
  "... ...... ...... ...... ...... ...... ..." 
  "... footer footer footer footer footer ..." 200px
  "... ...... ...... ...... ...... ...... ..."
  /auto 150px auto 1fr auto  200px auto;
}


header{
  grid-area: header;
  background-color: skyblue;
  
}

nav{
  grid-area: left;
  background-color:cadetblue;
}

main{
  grid-area: center;
  background-color:darkgrey;
}

aside{
  grid-area: right;
  background-color:darkseagreen;
}

footer{
  grid-area: footer;
  background-color:blanchedalmond;
}


/* レスポンシブ対応 */
@media screen and (max-width:900px){
  body{
    grid-template:
    "header" 150px
    "center" 1fr
    "left  "
    "right "
    "footer" 200px ;
  }
}